page-home {
    ion-content {
        background: url($background-url) no-repeat center center fixed;
        background-size: cover;
    }
    .container {
        width: 100%;
        background: #fff;
        padding: 16px 32px;
        border: 1px solid;
        border-radius: 8px;
        box-shadow: 5px 5px 5px #888888;
    }
    @media screen and (min-width: 480px) {
        .container {
            width: 60%;
        }
    }
    @media screen and (min-width: 768px) {
        .container {
            width: 40%;
        }
    }
    @media screen and (min-width: 1024px) {
        .container {
            width: 20%;
        }
    }
}